.tabela{
    background-color:rgb(22, 71, 114);
    border-radius: 10px;
    padding: 10px;
    width: auto;
    height: auto;
    font-family: 'Habibi', sans-serif;
}
/* PROPRIEDADES DE UMA TABELA*/
table{
    width: 100%;
    border-collapse: collapse;
}

td, th{
    background-color: rgb(213, 224, 233);
    border: 1px solid rgb(5, 76, 156);
    text-align: center;
    font-family: 'Habibi', sans-serif;
}