

.global h1{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(95, 94, 204);
    text-align: center;
}

.tabela{
    background-color: #5d1c34 ;
    border-radius: 10px;
    padding: 10px;
    width: auto;
    height: auto;
    
}

/* PROPRIEDADES BÁSICAS DE TABELA */
table{
    width: 100%;
    border-collapse: collapse;
    background-color: #d1d1d1;
    border-radius: 10px;
    
}
td, th{
    border: 2px solid #767676;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;

}

th{
     color: rgb(95, 94, 204);
     background-color: #908473;
}

tr{
     transition: transform 0.5s; /*TEMPO PARA CONCLUSÃO DO EFEITO */
}


tr:hover{
    background-color: #c60052;
    transform: scale(1.008); /*EFEITO ALTERANDO ESCALA EM 1.1x*/

}

.filtro{
    width: 300px;
    background-color: rgba(43, 17, 192, 0.831);
    border-radius: 10px;
    color: rgb(95, 94, 204);
    padding: 10px;
    border: 2px #96a7dd solid;
}

#cat_imagem{
    border-radius: 20px;
    border: 5px #96a7dd solid;
}